<html>
  <head>
    {% if title %}
    <title>{{ search_val }} - Drinking App</title>
    {% else %}
    <title>Welcome to Drinking App</title>
    {% endif %}
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}
    <p> Results from search are </p>

    {% for result in results %}
      <h2> {{ result[1] }}</h2>
      <p> rating: {{ result[4] }} price: {{ result[3] }}</p>
      <img src='{{ result[2] }}' alt="" style="width:128px;height:128px;">


    {% endfor %}

    <!--{% for post in posts %}
    <div><p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}-->
    {% endblock %}
  </body>
</html>
