<html lang ="en">
<head>
  <html lang = "en-US">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<body>

<h2>Displaying the Top 10 Local Bars from your Search:</h2>

  <!--Like ERB, JavaScript between <% %> is executed. JavaScript between <%= %>
  adds HTML to the result. -->

<ul>
  <% businessarray.forEach(function(element) { %>
    <li><%= element %></li>
  <% }); %>
</ul>

</body>
